<div class="card bg-light">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <app-form-mail></app-form-mail>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled">
                    <li><span><img src="../assets/icon/mail.svg" alt=""></span>contact@crochet-du-hamster.fr</li>
                    <li><span><img src="../assets/icon/twitter.svg" alt=""></span><a href="https://twitter.com/hamsterzillae" target="_blank">@twitter</a></li>
                    <li><span><img src="../assets/icon/instagram.svg" alt=""></span><a href="https://www.instagram.com/hamsterzillae/" target="_blank">@instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
