<div class="card bg-light">
    <div class="card-body">
        <nav>
            <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href=" #nav-new" role="tab"
                    aria-controls="nav-new" aria-selected="true">Nouveau</a>
                <a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href=" #nav-edit" role="tab"
                    aria-controls="nav-edit" aria-selected="false">Editer</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <app-toaster-container></app-toaster-container>

            <!-- Formulaire ajout article -->
            <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                <app-form-article></app-form-article>
            </div>


            <!-- Liste des articles pour les supprimmer / modifier -->
            <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
                <div class="row row-cols-1 row-cols-md-2">
                    <div *ngFor="let article of listeArticles" class="col mb-2">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img src="{{baseUrlImg}}{{article.image[0]}}">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">{{article.titre}}</h5>
                                        <p *ngIf="article.prix">Prix : {{article.prix}} €</p>
                                    </div>
                                </div>
                                <div class="col-md-3 d-flex align-items-center justify-content-around">
                                    <button (click)="modifierArticle(article)" class="btn btn-outline-secondary"><img src="../assets/icon/edit-2.svg"
                                            alt="edition"></button>
                                    <button (click)="supprimerArticle(article.id)" class="btn btn-outline-danger"><img
                                            src="../assets/icon/x.svg" alt="supprimer"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <app-form-article *ngIf="articleSelect" [articleAModifier]="articleSelect"></app-form-article>
                <button *ngIf="articleSelect" (click)="annulerModif()" class="btn btn-outline-danger">Annuler</button>
                
            </div>
        </div>
    </div>
</div>